<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>О КОМПАНИИ</h1>
<br>
   <h1> О НАС</h1>
<br>
<h2> Чтобы сладости стали настоящим лакомством и шедевром кондитерского искусства,
    производителю необходимо приложить все усилия для создания продукта с идеальным сочетанием аромата и вкуса.
    Именно по такому принципу и работает предприятие «Чип и Дейл», создавая продукцию высокого качества с отличными вкусовыми характеристиками.</h2>
<br>
<h1>Особенности производства кондитерских изделий</h1>
<br>
<h2>   ООО «Чип и Дейл» организовывает полный цикл производства кондитерских изделий.
    Для создания продукции высокого качества компания со всей ответственностью подходит к выбору поставщиков сырья и осуществляет полный контроль
    за производством на всех этапах: от приемки до упаковки товаров.</h2>
<br>
<h1>Надежные поставщики – качественное сырье</h1>
<br>
<h2>   Поставщики  сырья – ведущие производители из стран Европейского союза.
    Использование качественного сырья обеспечивает высокий уровень производства кондитерских изделий.
    Одно из обязательных условий создания гарантированно высокого качества выпускаемой продукции – ее сертификация,
    гигиеническая регистрация и регламентация поставляемого сырья.</h2>
<br>
<h1> Контроль качества</h1>
<br>
<h2>   ООО «Чип и Дейл» организован полный контроль качества как поступающего сырья, так и готовой продукции, отправляемой на рынок.
    Непосредственно процесс производства осуществляется на современном оборудовании со строгим соблюдением всех технологических параметров
    и санитарных норм. Жесткий контроль за процессом производства позволяет исключить всяческие отклонения от установленных параметров и создать
    систему менеджмента качества.</h2>
<br>
<h1> Собственные складские помещения</h1>
<br>
<h2>   Предприятие «Чип и Дейл» имеет собственные складские площадки, оборудованные надежными системами микроклимата для создания благоприятных
    температурных условий для хранения готовой продукции.</h2>
<br>
<h1> Своевременное выполнение своих обязательств</h1>
<br>
<h2>   Четкость, согласованность и своевременность выполнения своих обязательств перед конечными покупателями готовой продукции
    – один из главных принципов деятельности компании на рынке.
    Предприятие нацелено на установление долгосрочных взаимовыгодных партнерских отношений со своими клиентами.
    Собственный автотранспорт позволяет быстро реагировать на поступающие заказы.</h2>
<br>
<h1>  Широкий ассортимент</h1>
<br>
<h2>   В условиях большой конкуренции на рынке кондитерских изделий ассортимент выпускаемой продукции компании «Чип и Дейл» постоянно расширяется
    и совершенствуется для максимального удовлетворения всех пожеланий потребителя конечного продукта.</h2>
</body>
</html>